:root[data-theme="light"] {
  --primary: #c62828;        
  --primary-light: #ffebee;  
  --primary-dark: #8e0000;  
  --primary-contrast: #ffffff;

  --background: #ffffff;
  --text: #212529;
  
  --gray-100: #f8f9fa;
  --gray-200: #f1f1f1;
  --gray-300: #e5e5e5;
  --gray-400: #d6d6d6;
  --gray-500: #bfbfbf;
  --gray-600: #8a8a8a;
  --gray-700: #5c5c5c;
  --gray-800: #3a3a3a;
  --gray-900: #212121;
}

:root[data-theme="dark"] {
  --primary: #ff6f6f;        
  --primary-light: #c62828;  
  --primary-dark: #ffebee;   
  --primary-contrast: #000000;

  --background: #1a1a1a;
  --text: #f8f9fa;

  --gray-900: #f8f9fa;
  --gray-800: #e1e1e1;
  --gray-700: #cfcfcf;
  --gray-600: #b1b1b1;
  --gray-500: #8d8d8d;
  --gray-400: #6b6b6b;
  --gray-300: #4a4a4a;
  --gray-200: #2f2f2f;
  --gray-100: #1a1a1a;
}
